aiocache==0.11.1
anchorpy==0.21.0
base58==2.1.1
ccxt
driftpy>=0.8.43
numpy==1.26.3
openai
pandas==2.2.3
plotly==5.15.0
python-dotenv
requests==2.28.1
solana
solders
matplotlib==3.10.0
streamlit==1.40.1
tabulate==0.9.0
httpx==0.28.1